@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  min-width: 725px;
  align-items: center;
}

.dropDownMenu{
  margin-top: 1.1403125rem;
}

